{{template "base" .}}

{{define "content"}}

<div class="content">
  <p>Hi Team,</p>
  <p>
    Thank you for creating a request. Your NAS migration will begin as per
    schedule. Stay tuned for updates and feel free to reach out if you have any
    questions.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>MigrationId</th>
        <th>Volumes</th>
        <th>MigrationDate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ index .Content "MigrationId"}}</td>
        <td>{{ index .Content "Volumes"}}</td>
        <td>{{ index .Content "MigrationDate"}}</td>
      </tr>
    </tbody>
  </table>
</div>

{{ end }}
