{{template "base" .}}

{{define "content"}}

<div class="content">
  <p>Hi,</p>
  <p>
    Your Request for changing the migration date has been rejected by the NAS
    team due to unavailability of open slots. Your migration is set to be
    scheduled as per original date. Please find below details.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>MigrationId</th>
        <th>Volumes</th>
        <th>Old MigrationDate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ index .Content "MigrationId"}}</td>
        <td>{{ index .Content "Volumes"}}</td>
        <td>{{ index .Content "MigrationDate"}}</td>
      </tr>
    </tbody>
  </table>
</div>

{{ end }}
