{{template "base" .}}

{{define "content"}}

<div class="content">
  <p>Hi,</p>
  <p>
    Your CR has been approved by a NAS team member, please find the below
    details. Please reach out in case of any questions.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>MigrationId</th>
        <th>Volumes</th>
        <th>Old MigrationDate</th>
        <th>New MigrationDate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ index .Content "MigrationId"}}</td>
        <td>{{ index .Content "Volumes"}}</td>
        <td>{{ index .Content "MigrationDate"}}</td>
        <td>{{ index .Content "NewMigrationDate"}}</td>
      </tr>
    </tbody>
  </table>
</div>

{{ end }}
