{{template "base" .}}

{{define "content"}}

<div class="container">
  <div class="warning">
    <h1>Genesis</h1>
  </div>
  <div class="content">
    <p>Hi Team,</p>
    <p>
      Thank you for creating a request, your request id is
      {{ index .Content "MigrationId"}}. Your NAS migration will begin as per
      schedule for these volumes {{ index .Content "Volumes"}} on
      {{ index .Content "MigrationDate"}}. Stay tuned for updates and feel free
      to reach out if you have any questions.
    </p>
    <div class="signature">
      <p>Best regards,</p>
      <p>Genesis</p>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </div>
</div>

{{ end }}
